.image {

    height: auto;
    width: 400px;
}

#groslogo {
    height: auto;
    width: 200px;
}


body {
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    position: fixed;
}